    <tr>
      <th scope="row">USD</th>
      <td><%= currency.usd.dig('bank', 'buy') %> \ <%= currency.usd.dig('bank', 'sale') %></td>
      <td><%= currency.usd.dig('cash', 'buy') %> \ <%= currency.usd.dig('cash', 'sale') %></td>
    </tr>
    <tr>
      <th scope="row">EUR</th>
      <td><%= currency.eur.dig('bank', 'buy') %> \ <%= currency.eur.dig('bank', 'sale') %></td>
      <td><%= currency.eur.dig('cash', 'buy') %> \ <%= currency.eur.dig('cash', 'sale') %></td>
    </tr>