<div class="container preload">
    <div class="d-flex justify-content-around align-items-center" >
        <div class="user-icon me-2">
            <%= link_to 'user_profile' do %>
            <div><%= fa_icon "user-circle" %></div>
            <% end %>
        </div>
        <h3 class="md-heading"><%= current_user.name.humanize %></h3>
    </div>
    <%= render 'shared/creditcard' %>
</div>

<div class="d-flex justify-content-around align-items-center devise-class my-4">
<%= render 'shared/basic_buttons' %>
</div>