<div class="d-flex justify-content-around align-items-center mt-3" >

  <div class="user-icon me-2 text-center">
    <%= link_to new_cost_path do %>
        <div><%= fa_icon "plus" %> <%= fa_icon "money" %></div>
    <% end %>
    <p class="fs-6">Add Cost</p>
  </div>

  <div class="user-icon me-2 text-center">
    <%= link_to new_category_path do %>
        <div><%= fa_icon "plus" %> <%= fa_icon "list" %></div>
    <% end %>
    <p class="fs-6">Add Category</p>
  </div>

</div>
