
<div class="mt-3 px-3 close"><%= link_to "X", categories_path %></div>
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag "personal.png", class: "img-fluid rounded-start" %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= @current_user.name %></h5>
        <p class="card-text"><%= t('.email') %>: <%= @current_user.email %></p>
        <p class="card-text"><%= t('.sign_in_count') %>: <%= @current_user.sign_in_count %></p>
        <p class="card-text"><%= t('.current_sign_in_ip') %>: <%= @current_user.current_sign_in_ip %></p>
        <p class="card-text"><%= t('.last_sign_in_at') %>: <%= l @current_user.last_sign_in_at, format: :long %></p>
        <p class="card-text"><%= t('.last_sign_in_ip') %>: <%= @current_user.last_sign_in_ip %></p>
        <p class="card-text"><%= t('.balance') %>: <%= @current_user.balance %></p>
        <p class="card-text"><%= t('.created_at') %>: <%= l @current_user.created_at, format: :long %></p>
        <p class="card-text"><%= t('.updated_at') %>: <%= l @current_user.updated_at, format: :long %></p>
      </div>
      <%= link_to t('.change_password'), edit_user_registration_path, class:'btn btn-outline-warning' %>
      <%= link_to t('.sign_out'), destroy_user_session_path, method: :delete, class: 'btn btn-outline-warning' %>
    </div>
  </div>
</div>





