<section class="page-position">
  <div class="svg">
    <h1 class="flex bg-heading"><%= t('.title') %></h1>
    <%= image_tag "first_screen.svg", class: "img-width" %>
  </div>
  <div class="svg">
    <p class="md-txt">
      <%= t('.header') %>
    </p>
    <p class="sm-txt">
      <%= t('.message') %>
    </p>
  </div>
  <div class="side">
    <%= link_to t('.sign_up'), new_user_registration_path, class: "txt-bg me-4" %>
    <%= link_to t('.log_in'), new_user_session_path, class: "txt-bg-color" %>
  </div>
</section>